body {
    font-family: 'Sarabun', sans-serif;
    background-color: #f8f9fa;
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.form-control-color {
    min-height: calc(1.5em + .75rem + 2px);
}

#submitButton:disabled {
    cursor: not-allowed;
}